useDynLib(CRF)
export(make.crf)
export(clamp.crf)
export(clamp.reset)
export(sub.crf)
export(get.potential)
export(get.logPotential)
export(decode.exact)
export(decode.chain)
export(decode.tree)
export(decode.conditional)
export(decode.cutset)
export(decode.junction)
export(decode.sample)
export(decode.marginal)
export(decode.lbp)
export(decode.trbp)
export(decode.greedy)
export(decode.icm)
export(decode.block)
export(decode.ilp)
export(infer.exact)
export(infer.chain)
export(infer.tree)
export(infer.conditional)
export(infer.cutset)
export(infer.junction)
export(infer.sample)
export(infer.lbp)
export(infer.trbp)
export(sample.exact)
export(sample.chain)
export(sample.tree)
export(sample.conditional)
export(sample.cutset)
export(sample.junction)
export(sample.gibbs)
