useDynLib(CRF)
export(make.crf)
export(clamp.crf)
export(clamp.reset)
export(get.potential)
export(get.logPotential)
export(decode.exact)
export(decode.chain)
export(decode.tree)
export(decode.lbp)
export(decode.marginal)
export(decode.sample)
export(infer.exact)
export(infer.chain)
export(infer.tree)
export(infer.lbp)
export(infer.sample)
export(sample.exact)
export(sample.chain)
export(sample.tree)
export(sample.gibbs)
