useDynLib(CRF)
export(make.crf)
export(potential)
export(log.potential)
export(decode.exact)
export(decode.chain)
export(decode.tree)
export(decode.lbp)
export(decode.infer)
export(decode.sample)
export(infer.exact)
export(infer.chain)
export(infer.tree)
export(infer.lbp)
export(sample.exact)
export(sample.chain)
export(sample.tree)
